	    header{
				background-color:#000;
				overflow:auto;                    /*To contain floating elements*/
			}
			.image{
				/*margin:0 80px;*/                /*without float*/
				float:left;
			}
			nav ul{
				list-style:none;                  /*remove listing dots*/
				padding:0;
				margin:0;
			}
			nav ul li{
				float:right;
			}
			.container{
				width:960px;                      /*to place everything in middle*/
				margin:0 auto;
			}
			nav ul li a{
				color:#fff000;
				text-decoration:none;             /*remove underline*/
				padding:20px;
				display:block;                    /*to make decent look in block each element*/
			}
			nav ul li a:hover{
				border-bottom:5px solid #fff000;
				opacity:0.7;
			}
          	.center{
 			 	display: block;
 				margin-left: auto;
  				margin-right: auto;
  				width: 10%;
			}
            footer{
            	background-color:black;
	    	color:white;
            }
            body{
            	background-color:#D3D3D3;
            }
	    #four{
		background-color:#D3D3D3;
		}
            #one{
            	width:800px;
                padding:10px;
                border:1px dotted red;
                margin:20px;
		background-color:white;
            }
 	    #two{
            	width:800px;
                padding:10px;
                border:1px solid red;
                margin:20px;
		background-color:white;
            }
	    #three{
            	width:800px;
                padding:10px;
                border:1px dashed red;
                margin:20px;
		background-color:white;
            }
	    div:first-of-type{
		background-color:white;
	    }
	    div:last-of-type{
		background-color:white;
	    }
	    p[name=value]{
	    	color:#D3D3D3;
	    }
	
	